body{
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

.contenedor{
    width:900px;
    margin:40px auto;
}
select{
    padding:6px;
    margin-bottom:15px;
    font-size:16px;
}
.catalogo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:12px;
}

.bici{
    background: white;
    border:1px solid #ccc;
    padding:12px;
    border-radius:6px;
}
.bici img{
    width:100%;
    height:180px;
    object-fit:cover;
    margin-bottom: 8px;
}

.bici h3{
    margin:6px 0;
    font-size:18px;
    color:#222;
}
.bici p{
    margin:4px 0;
    font-size:15px;
}
