body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.contenedor{
    width: 750px;
    margin: 40px auto;
}
.buscador{
    margin-bottom: 10px;
}


input{
    padding: 6px;
    width: 220px;
}

button{
    padding: 6px 12px;
    cursor: pointer;
}

table{
    width: 100%;

    border-collapse: collapse;
}

th, td{
    border: 1px solid #bdbdbd;
    padding: 8px;
}


th{
    background-color: #d9dfe5;
}

tr:nth-child(even){
    background-color: #eeeeee;
}
